.frog-dude {
  background-color: #6ba987;
  height: 400px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .body {
    width: 240px;
    height: 240px;
    border-radius: 50% 50% 20px 20px;
    //border: 1px solid black;
    background-color: rgb(31, 90, 117);
  }

  .mouth {
    position: absolute;
    top: 230px;
    width: 60px;
    height: 20px;
    background-color: black;
    border-radius: 6px 6px 70% 70%;
  }

  .eye {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130px;

    &.left {
      left: 120px;
    }
    &.right {
      right: 120px;
    }

    .socket {
      position: relative;
      width: 100px;
      height: 100px;
      border: 1px solid black;
      background-color: whitesmoke;
      border-radius: 50%;
      overflow: hidden;

      .iris {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border: 5px solid red;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}
