@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.colour-clock {
  height: 300px;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
