body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app-root {
  width: 100vw;
  height: 100vh;
}

.panels {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .panel {
    width: 500px;
    border-radius: 5px;
    margin: 50px;
  }
}
